.container>div {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
}


.body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    padding: 10px 40px 10px 40px;
    margin: 0px;
    transition: background-color 1s ease;
}

/* .container>div:nth-child(1n) {
    background-color: #96ceb4;
}

.container>div:nth-child(2n) {
    background-color: #88d8b0;
}

.container > div:nth-child(3n) {
    background-color: #ff6f69;
}

.container>div:nth-child(4n) {
    background-color: #ffcc5c;
}

.container>div:nth-child(5n) {
    background-color: #757595;
}

.container>div:nth-child(6n) {
    background-color: #a35e66;
}

.container>div:nth-child(7n) {
    background-color: #9ed7d3;
} */

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px 570px 290px 400px 300px;
    grid-template-areas: 
    "h h h h m"
    "c c c c c"
    "f f f f f"
    "p p p p p"
    "d r r r r"
    ;
}

.header {
    /* grid-column-start: 1;
    grid-column-end: 10; */
    grid-area: h;
    justify-content: left;
}

.media {
    /* grid-column: 10/13; */
    grid-area: m;
    justify-content: right;
}

.content {
    /* grid-column: 1/-1; */
    grid-area: c;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content iframe {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.projectTitle{
    /* grid-column: 1/-1; */
    grid-area: p;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}

.project{
    /* grid-column: 1/-1; */
    grid-area: r;
    margin-top: 3px;
    justify-content: center;
}

.projectTitle > iframe{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.about {
    /* grid-column: 1/-1; */
    grid-area: f;
    justify-content: center;
    font-size: small;
    text-align: center;
}

.about> h3 {
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #743D16;
    text-shadow: 4px 4px 2px white;
}

.About {
    justify-content: center;
    width: auto;
    height: auto;
    font-size:larger;
}

.arrow{
    grid-area: d;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

nav> a {
    text-decoration: none;
    font-family: 'DM Sans';
    padding-right: 40px;
    color: black;
    font-size: small;
    font-weight: 700;
}

.social>img {
    padding-left: 20px;
}

.github {
    height: 25px;
}

.instagram {

    height: 25px;
}

.mail {
    height: 25px;
}