.container>div {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
}


body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    /* padding: 10px 40px 10px 40px; */
    margin: 0px;
    transition: background-color 1s ease;
}

@media only screen and (max-width: 600px) {
   .container {
        grid-template-columns: 100%;
        grid-template-rows: 5% 20% 5% 10% 10% 20% 5% 5% 10% 20% 5%;
        grid-template-areas: 
        "h"
        "c"
        "f"
        "t"
        "p"
        "d"
        "r"
        "u"
        "o"
        "i "
        "m";
      
    }

    .update > p{
        font-size: 40px;
    }
    nav>a{
        font-size: 15px;
    }

}
/*
.container>div:nth-child(1n) {
    background-color: #96ceb4;
}

.container>div:nth-child(2n) {
    background-color: #88d8b0;
}

.container > div:nth-child(3n) {
    background-color: #ff6f69;
}

.container>div:nth-child(4n) {
    background-color: #ffcc5c;
}

.container>div:nth-child(5n) {
    background-color: #757595;
}

.container>div:nth-child(6n) {
    background-color: #a35e66;
}

.container>div:nth-child(7n) {
    background-color: #9ed7d3;
}

.container>div:nth-child(8n) {
    background-color: #d8e89a;
}

.container>div:nth-child(9n) {
    background-color: #b6627d;
}

.container>div:nth-child(10n) {
    background-color: #7bd8ae;
}
.container>div:nth-child(11n) {
    background-color: #7bcad8;
}
*/
.container {
    height: 100%;
    padding: 10px 40px 10px 40px;
    /* grid-template-columns: repeat(5, 1fr); */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 80px 570px 290px 300px 500px 300px 600px 70px 500px;
    grid-template-areas:
        "h h h m m"
        "c c c c c"
        "f f f f f"
        "t t t t t"
        "p p p p p"
        "d r r r r"
        "u u u u u"
        "o o o o o"
        "i i i i i"
    ;
}

.header {
    /* grid-column-start: 1;
    grid-column-end: 10; */
    grid-area: h;
    justify-content: left;
    padding-top: 30px;
    position: sticky;
}

.media {
    /* grid-column: 10/13; */
    grid-area: m;
    justify-content: right;
}

.content {
    /* grid-column: 1/-1; */
    grid-area: c;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content iframe {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.about {
    /* grid-column: 1/-1; */
    grid-area: f;
    justify-content: center;
    font-size: small;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.about > h1 {
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
    color: #743D16;
    text-shadow: 4px 4px 2px white;
}

.About {
    justify-content: center;
    width: auto;
    height: auto;
    font-size: larger;
}

.projectHeader{
    grid-area: t;
    justify-content: center;
    text-align: center;
}

.projectHeader > h1{
    
    color: white;
    font-family: dm-sans;
}

.projectTitle {
    /* grid-column: 1/-1; */
    grid-area: p;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    /* justify-content: center;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 90px; */
}

.project {
    /* grid-column: 1/-1; */
    grid-area: r;
    margin-top: 3px;
    justify-content: center;
    align-items: left;
}

.project > ul{
    font-size: large;
    font-family: DM-Serif-Display;
    justify-content: center;
}

.projectDate{
    color: white;
    font-size: medium;
    font-weight: 800;
}

.projectTitle>iframe {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    grid-area: d;
    display: block;
    justify-content: center;
}

.update{
    grid-area: u;
    justify-content: center;
    font-family: DM-Serif-Display;
}

.update > p{
    font-size: 40px;
}

.contact{
    grid-area: o;
    font-family: DM-Serif-Display;
    justify-content: center;
    display: flex;
    letter-spacing: 0.1em;
}

.update{
    grid-area: u;
    justify-content: center;
}

.contact >h1{
    color: white;
}

.userInfo {
    grid-area: i;
    justify-content: center;
    font-family: DM-Serif-Display;
    
}
.userInfo > ul{
    justify-content: center;
}

ul > button{
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-left: 40%;
    font-weight: 800;
}

label{
    font-size: 24px;
    font-weight: 700;
    color: white;
    justify-content: center;
}

li > input{
    background-color:transparent;
    width: 450px;
    height: 30px;
    border: 1px solid white;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 40px;
}

input::placeholder{
    color: rgb(255, 255, 255);
    font-family: DM-Serif-Display;
}

textarea{
    background-color:transparent;
    width: 450px;
    height: 60px;
    border: 1px solid white;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 40px;
    font-family: DM-Serif-Display;
    font-size: medium;
}

textarea::placeholder{
    color: white;
    font-family: DM-Serif-Display;
}

li{
    list-style-type: none;
}

nav {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: sticky;
}

nav>a {
    text-decoration: none;
    font-family: 'DM Sans';
    padding-right: 40px;
    color: black;
    font-size: small;
    font-weight: 700;
    font-size: 15px;
}

.social > a {
    padding-left: 20px;
}

.github {
    height: 25px;
}

.instagram {

    height: 25px;
}

.linkedin {
    height: 25px;
}

.leftButton{
    font-weight: bold;
    margin-left: 30px;
    border: none;
    background-color: Transparent;
    height: 40px;
    padding-right: 20px;
}

.rightButton{
    font-weight: bold;
    margin-right: 30px;
    border: none;
    background-color: Transparent;
    height: 40px;
}